/* Our CSS file. */


nav ul li {
    display:inline-block;
    list-style:none;
    padding: 0px 30px;
}

a {
    text-decoration:none;
}

ul li {
    list-style:none;
}

body {
    border:1px solid black;
}

.page-logo {
    width:100px;
    height:100px;
}

header {
    
    padding:10px;
    margin:10px 0px;
}

nav ul {
    border:1px solid black;
    padding:10px;
}

section div img {
    width:150px;
    height:200px;
    padding: 10px;
}

.page-header {
    background-color:cornflowerblue;
    height:100px
}

.page-header form {
    display:inline-block;
    float:right;
    margin-top:30px;
    margin-right:20px;
    margin-bottom:0px;
    margin-left:30px;
}

.page-header form input {
    height:30px;
}

.page-body{
    width:100%;
}

footer {
    margin:10px;
    padding:10px;
    border:1px solid black;
}
